<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body style="margin: 0; padding: 0;background: #F9F9F9;">
    <div style="overflow:hidden;color:transparent;width:0;font-size:0;opacity:0;height:0"> Dear {{cust_name}}, Please
        find your appointment details below.
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>
    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="600"
        style="border-collapse: collapse; max-width: 100%;min-width: 600px;">
        <tr>
            <td>
                <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                    style="border-collapse: collapse; max-width: 100%;background:#ffffff;">
                    <tr>
                        <td align="left" valign="top" style="padding: 30px 0px 10px 20px;">
                            <a href="">{{email_logo}}</a>
                        </td>

                    </tr>
                    <tr>
                        <td style="padding: 10px 0px 10px 20px;color: #000000; width:60%">
                            <p
                                style="font-family: 'Raleway', sans-serif; letter-spacing: 1px; font-weight: 700; font-size:25px;">
                                Appointment Confirmed</p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>

                <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                    style="border-collapse: collapse;max-width: 100%;">
                    <tr>
                        <!--start New tbl-->
                        <table class="" align="center"
                            style="color:#414146; margin:0 auto;width:100%;max-width:620px;border-spacing:0;font-family: Verdana,Geneva,sans-serif;">
                            <tbody>
                                <tr>
                                    <td class="" style="padding:0">
                                        <table width="100%" style="color:#414146;border-spacing:0;background:white">
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="#fff" style="padding:10px 20px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                            style="color:#414146;border-spacing:0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:10px 0px">
                                                                        <h3
                                                                            style="color:#414141;font-size:17px;font-weight:normal">
                                                                            Dear <b>{{cust_name}}</b>,</h3>
                                                                        <h3
                                                                            style="color:#414141;font-size:16px;font-weight:normal;margin-top: 20px;margin-bottom:20px">
                                                                            Please find your appointment details below.
                                                                        </h3>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#414146;font-size:16px;padding:0">
                                                                        <table class=""
                                                                            style="color:#414141;font-size:16px;background-color:#fafafa;width:100%;border:1px solid #eaeaea;border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px;width:40%">
                                                                                        {{patient_or_client}}
                                                                                    </td>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px;width:65%">
                                                                                        <b>{{cust_name}}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px;width:40%">
                                                                                       Specialist Name
                                                                                    </td>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px;width:65%">
                                                                                        <b>{{tent_user_first_name}}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                        Practice Name
                                                                                    </td>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                        <b>{{tent_name}}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                        Appointment ID
                                                                                    </td>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                        <b>{{appointment_number}}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                        Appointment Date &amp; Time
                                                                                    </td>
                                                                                    <td
                                                                                        style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                        <b>{{date}} at {{time}}</b>
                                                                                    </td>
                                                                                </tr>
 <tr>
                                                                                        <td
                                                                                            style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                            Meeting Link
                                                                                        </td>
                                                                                        <td
                                                                                            style="color:#414141;font-size:16px;border:1px solid #eaeaea;padding:15px">
                                                                                          <a href="{{meeting_link}}">{{meeting_link}}</a>
                                                                                        </td>
                                                                                    </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>


<tr>
    <td bgcolor="#fff" style="padding:15px 20px 50px">
  <p
            style="margin:0; font-size:20px;color:#414141; font-weight: 1000;">
            <b>Terms & Conditions</b>
        </p>
    </td>
</tr>

<tr>
    <td bgcolor="#fff" style="padding:15px 20px 50px">
  <ol style="margin-top:8px;font-size: 14px;color: #777777">
            {{terms_and_conditions_content}}
            </ol>
    </td>
</tr>
                                                <tr>
                                                    <td bgcolor="#fff" style="padding:15px 20px">
                                                        <p
                                                            style="margin:0;font-size:20px;color:#414146;font-weight:1000;">
                                                            Regards,</p>

                                                        <p style="margin-top:8px;font-size:19px;color:#414146">Team
                                                            {{tent_name}}</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- end new tbl-->
                                </tr>

                                <tr>
                                    <td align="center">
                                        <table>
                                            <tr>
                                                <td align="right" style="padding: 10px;">
                                                    <p
                                                        style="margin:0; font-family: 'Lora', serif;font-size: 20px;font-weight: 500;">
                                                        <a href="{{b2cplaystore}}"><img
                                                                src="{{cloudimagepath}}email_tmpl/playstore.png"
                                                                alt="lyfngo_playstore" border="0" width="128"
                                                                height="41"></a>
                                                    </p>
                                                </td>
                                                <td align="left" style="padding: 10px;">
                                                    <p
                                                        style="margin:0; font-family: 'Lora', serif;font-size: 20px;font-weight: 500;">
                                                        <a href="{{b2cappstore}}"><img
                                                                src="{{cloudimagepath}}email_tmpl/appstore.png"
                                                                alt="lyfngo_appstore" border="0" width="128"
                                                                height="41"></a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px">
                                        <p
                                            style="margin:0; font-family: 'Poppins', sans-serif;font-size: 14px;color: #777777;">
                                            copyrights@{{copyrights}}. {{team}} All Rights Reserved</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px">
                                        <p style="margin:0; font-family: 'Poppins', sans-serif;font-size: 14px;"><a
                                                href="" style="text-decoration: none;color: #262626;"> Privacy
                                                Policy</a> &#9679; <a href=""
                                                style="text-decoration: none;color: #262626;">Help Center</a> </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 0px 10px 10px 10px">
                                        <p style="margin:0; font-family: 'Poppins', sans-serif;font-size: 14px;"><a
                                                href="tel:{{tent_contact_no}}"
                                                style="color: #006EFF">{{tent_contact_no}}</a> Or <a
                                                href="mailto:{{tent_email}}" style="color: #006EFF">{{tent_email}}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table>
                                            <tr>
                                                <td align="center" style="padding: 10px">
                                                    <p
                                                        style="margin:0; font-family: 'Poppins', sans-serif;font-size: 14px;">
                                                        <a href="{{lyfngowhatsapp}}"
                                                            style="text-decoration: none;color: #262626;margin-right: 15px;">
                                                            <img src="https://ik.imagekit.io/LyfngoDev/EmailTemp/Logo/whatsApp.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1671686665679"
                                                                alt="wa" border="0" width="40" height="40"></a>
                                                        <a href="{{aidivafb}}"
                                                            style="text-decoration: none;color: #262626;margin-right: 15px;">
                                                            <img src="{{cloudimagepath}}email_tmpl/facebook.png"
                                                                alt="fb" border="0" width="40" height="40"></a>
                                                        <a href="{{aidivatwitter}}"
                                                            style="text-decoration: none;color: #262626;margin-right: 15px;">
                                                            <img src="{{cloudimagepath}}email_tmpl/twitter.png"
                                                                alt="twitter" border="0" width="40" height="40"></a>
                                                        <a href="{{aidivainsta}}"
                                                            style="text-decoration: none;color: #262626;margin-right: 15px;">
                                                            <img src="{{cloudimagepath}}email_tmpl/instagram.png"
                                                                alt="insta" border="0" width="40" height="40"></a>
                                                        <a href="{{aidivalinkedin}}"
                                                            style="text-decoration: none;color: #262626;margin-right: 15px;">
                                                            <img src="{{cloudimagepath}}email_tmpl/linkedin.png"
                                                                alt="ln" border="0" width="40" height="40"></a>
                                                        <a href="{{aidivayoutube}}"
                                                            style="text-decoration: none;color: #262626;margin-right: 15px;">
                                                            <img src="{{cloudimagepath}}email_tmpl/youtube.png"
                                                                alt="youtube" border="0" width="40" height="40"></a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                        </table>
            </td>
        </tr>
    </table>
</body>

</html>